.Container {
  box-sizing: border-box;
  height: calc(100vh - 48px);
  max-height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
}

.Messages {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  height: max-content;
}

.MessagesWrapper {
  width: 100%;
  overflow-y: scroll;
  height: max-content;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}